.wrapper {
    padding: 9px 16px;
    display: flex;
    align-items: center;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.info {
}

.userName {
    font-weight: 600;
}

.name {
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
}

.check {
    margin-left: 4px;
    color: rgb(32, 213, 236);
    height: 14px;
    width: 14px;
}
